.body {
    font-family: 'Lato', sans-serif;
}

.btn-primary {
    border-radius: 8px;
    background: #E55473;
    border: 0;
    color: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
}

.header {

    background: rgba(229, 84, 115, 0.10);

}

.banner {
    padding: 30px 300px 0px 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.banner-content {
    max-width: 700px;

}

.banner .profile-pic {
    width: 700px;

}

.banner-greeting {

    color: #272727;
    font-size: 80px;
    font-weight: 800;
    margin-bottom: 0;


}

.banner-description {

    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    margin-top: 32px;
    margin-bottom: 32px;
}

/*1st section header section end */

/*main start */


/*our featured flower (2nd) section start */

.featured-box {
    text-align: center;


}

.box1 {
    width: 464px;
    height: 538px;
    margin-right: 24px;
    margin-bottom: 30px;
}

.box2 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
}

.box3 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.box4 {
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);
}

.img-primary {
    width: 310px;
    height: 428px;
    padding: 105px 78px 0px 76px;

}

.img-secondary {
    width: 370px;
    height: 370px;
    padding: 117px 47px 51px 47px;

}

.featured-box a {
    color: #272727;
    font-size: 24px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    padding-top: 45px;

}

/*our featured flower (2nd) section end */

/* 3rd section start*/
.delivary {
    margin: 0 auto;
}
.delivary-section {
    border-radius: 8px;
    background: rgba(39, 39, 39, 0.05);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 87px;
    padding-bottom: 87px;
    margin: 128px 660px 128px 657px;


}
.delivary-info {
    text-align: center;

    color: rgba(39, 39, 39, 0.80);

    font-size: 15px;
    font-weight: 600;

}
#delivary-info1 {
    padding-left: 174px;

}

#delivary-info2 {
    padding-right: 174px;
}
/* 3rd section end*/


/*hot deal section start*/
.hot-deal-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 150px;
    padding-top: 230px;

}

.hot-deal-section-content {
    text-align: center;
    padding: auto;
    margin-right: 140px;
}

.hot-deal-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.hot-deal-description {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.hot-deal-profile {
    display: flex;
}

/*hot deal section end*/
/*instagram section start */

.cover {
    align-items: center;
    justify-content: center;
    display: flex;
}

.box {
    margin: 10px;
    width: 342px;
    height: 396px;
}

/*get the latest deal section */

.get-the-latest-deal {
    text-align: center;
    background: url('Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    margin-top: 128px;
    background-position: center;

}
.get-the-latest-deal-title {
    color: #272727;
    text-align: center;
    font-size: 40px;
    font-weight: 800;
    padding-top: 128px;
    margin-bottom: 24px;


}

.get-the-latest-deal-description {
    text-align: center;
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0px;
    margin-bottom: 24px;

}

#email-design {
    width: 700px;
    border-radius: 8px;
    background: #FFF;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    border: 0px;
    margin-top: 0px;
    margin-right: 16px;
    margin-bottom: 122px;

}

/*own create section start*/
.connect-section {
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 200px 100px 200px 100px;
    margin-top: 129px;
    background-image: url('Flower\ Asset/pinterest.jpg');
    background-repeat: no-repeat;
    background-size: 100%;

}

.connect-content {

    text-align: center;
    padding: auto;
    margin-right: 140px;
    margin-left: 140px;
}

.connect-title {
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}

.connect-description {
    color: #757575;
    font-size: 28px;
    font-weight: 400;
    line-height: 30px;

}

.connect-profile1 {
    border-radius: 50%;
    margin-left: 100px;
    margin-right: 0px;

}
.connect-profile2 {

    border-radius: 50%;
    margin-left: 100px;
    margin-right: 100px;

}
.social-description {
    font-size: 22px;
    color: #332b32;
    font-weight: bold;

}

/*own create section end*/


/*footer section*/

footer {
    background: #111010;
    width: 100%;
    height: 449px;
    margin-top: 128px;
}

.footer {
    text-align: center;
    padding-top: 128px;
    margin-bottom: 345px;

}

.span-primary {
    color: #E55473;
}
.span-primary2 {
    color: #FFFFFF
}

.footer-description {
    color: rgba(255, 255, 255, 0.90);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;

}

.footer-description2 {
    color: rgba(255, 255, 255, 0.40);
    font-size: 16px;
    font-weight: 400;

}

.footer-title {
    text-align: center;
    font-size: 35px;
    font-weight: 800;
    font-size: 40px;

}